<div
  class="
    container
    flex flex-col
    mx-auto
    w-full
    items-center
    justify-center
    bg-gray-100
  "
>
  <div
    class="
      px-4
      py-5
      sm:px-6
      w-full
      border
      dark:bg-gray-800
      bg-white
      shadow
      mb-2
    "
  >
    <h3 class="text-lg leading-6 font-bold text-gray-900 dark:text-white">
      Thành viên trong dự án
    </h3>

    <!-- modal -->

    <button
      class="
        bg-gray-200
        text-gray-800
        font-bold
        rounded
        border-b-2 border-green-500
        hover:border-green-600 hover:bg-green-500 hover:text-white
        shadow-md
        py-2
        px-6
        inline-flex
        items-center
      "
      mat-button
      (click)="openDialog()"
    >
      Thêm thành viên
    </button>

    <!-- /modal -->
  </div>
  <div
    class="
      grid grid-cols-2
      sm:grid-cols-2
      md:grid-cols-3
      xl:grid-cols-4
      gap-10
      py-10
    "
    *ngFor="
      let u of userProject
        | paginate
          : {
              itemsPerPage: 4,
              currentPage: page,
              totalItems: totalLength
            }
    "
  >
    <div
      class="
        flex flex-col
        items-center
        justify-center
        bg-white
        p-4
        shadow
        rounded-lg
      "
    >
      <div
        class="
          inline-flex
          shadow-lg
          border border-gray-200
          rounded-full
          overflow-hidden
          h-40
          w-40
        "
      >
        <img
          src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&w=128&h=128&q=60&facepad=2"
          alt=""
          class="h-full w-full"
        />
      </div>

      <h2 class="mt-4 font-bold text-xl">
        {{ u.firstName + " " + u.lastName }}
      </h2>
      <h6 class="mt-2 text-sm font-medium">{{ u.email }}</h6>

      <p class="text-xs text-gray-500 text-center mt-3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab enim
        molestiae nulla.
      </p>

      <ul class="flex flex-row mt-4 space-x-2">
        <li>
          <a
            href=""
            class="
              flex
              items-center
              justify-center
              h-8
              w-8
              border
              rounded-full
              text-gray-800
              border-gray-800
            "
          >
            <i class="fab fa-facebook"></i>
          </a>
        </li>
        <li>
          <a
            href=""
            class="
              flex
              items-center
              justify-center
              h-8
              w-8
              border
              rounded-full
              text-gray-800
              border-gray-800
            "
          >
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a
            href=""
            class="
              flex
              items-center
              justify-center
              h-8
              w-8
              border
              rounded-full
              text-gray-800
              border-gray-800
            "
          >
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>
      <button
        type="button"
        class="
          border border-red-500
          text-red-500
          rounded-md
          px-4
          py-2
          m-2
          transition
          duration-500
          ease
          select-none
          hover:text-white hover:bg-red-600
          focus:outline-none focus:shadow-outline
        "
        (click)="getUserProjectAnCdDelete(u.id)"
      >
        Xóa
      </button>
    </div>
  </div>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
