<div class="container mx-auto w-full items-center justify-center bg-gray-100">
  <div
    class="
      px-4
      py-5
      sm:px-6
      w-full
      border
      dark:bg-gray-800
      bg-white
      shadow
      mb-2
    "
  >
    <h3 class="text-lg leading-6 font-bold text-gray-900 dark:text-white">
      Thành viên trong dự án: {{ userProject.length }}
    </h3>

    <!-- modal -->
    <ng-container
      *ngIf="isClick; then thenTemplate; else elseTemplate"
    ></ng-container>
    <ng-template #thenTemplate>
      <div>
        <form class="m-4 flex">
          <input
            class="
              rounded-l-lg
              p-4
              border-t
              mr-0
              border-b border-l
              text-gray-800
              border-gray-200
              bg-white
            "
            placeholder="Nhập username"
            #username
          />
          <button
            type="button"
            class="
              px-8
              rounded-r-lg
              bg-yellow-400
              text-gray-800
              font-bold
              p-4
              uppercase
              border-yellow-500 border-t border-b border-r
            "
            (click)="addUser()"
          >
            Thêm
          </button>
        </form>
      </div>
    </ng-template>
    <ng-template #elseTemplate>
      <button
        class="
          bg-gray-200
          text-gray-800
          font-bold
          rounded
          border-b-2 border-green-500
          hover:border-green-600 hover:bg-green-500 hover:text-white
          shadow-md
          py-2
          px-6
          inline-flex
          items-center
        "
        mat-button
        (click)="openDialog()"
      >
        Thêm thành viên
      </button>
    </ng-template>

    <ng-container
      *ngIf="isClickTransfer; then thenTemplateT; else elseTemplateT"
    ></ng-container>
    <ng-template #thenTemplateT>
      <div class="inline-block relative w-64 ml-5">
        <select
          class="
            block
            appearance-none
            w-full
            bg-white
            border border-gray-400
            hover:border-gray-500
            px-4
            py-2
            pr-8
            rounded
            shadow
            leading-tight
            focus:outline-none focus:shadow-outline
          "
          #userTranfer
          (change)="onClickTransfer($event.target)"
        >
          <option>Chọn nhân viên điều chuyển</option>
          <option *ngFor="let u of userProject" value="{{ u | json }}">
            {{ u.username }}
          </option>
        </select>
        <div
          class="
            pointer-events-none
            absolute
            inset-y-0
            right-0
            flex
            items-center
            px-2
            text-gray-700
          "
        ></div>
      </div>

      <div class="inline-block relative w-64 ml-5">
        <select
          class="
            block
            appearance-none
            w-full
            bg-white
            border border-gray-400
            hover:border-gray-500
            px-4
            py-2
            pr-8
            rounded
            shadow
            leading-tight
            focus:outline-none focus:shadow-outline
          "
          #idProjectTransfer
        >
          <option>Chọn Project điều chuyển đến</option>
          <option *ngFor="let lt of listTransfer" value="{{ lt.id }}">
            {{ lt.name }}
          </option>
        </select>
        <div
          class="
            pointer-events-none
            absolute
            inset-y-0
            right-0
            flex
            items-center
            px-2
            text-gray-700
          "
        ></div>
      </div>
      <button
        class="
          bg-blue-500
          hover:bg-blue-700
          text-white
          font-bold
          py-2
          px-4
          border border-blue-700
          rounded
          ml-5
        "
        (click)="getUserTransfer()"
      >
        Xác nhận
      </button>
    </ng-template>

    <ng-template #elseTemplateT>
      <button
        class="
          bg-gray-200
          text-gray-800
          font-bold
          rounded
          border-b-2 border-green-500
          hover:border-green-600 hover:bg-green-500 hover:text-white
          shadow-md
          py-2
          px-6
          inline-flex
          items-center
          ml-5
        "
        mat-button
        (click)="getListTransferProject()"
      >
        Điều chuyển thành viên
      </button>
    </ng-template>

    <!-- /modal -->
  </div>
  <!-- <div
    class="
      grid grid-cols-2
      sm:grid-cols-2
      md:grid-cols-3
      xl:grid-cols-4
      gap-10
      py-10
    "
    *ngFor="
      let u of userProject
        | paginate
          : {
              itemsPerPage: 4,
              currentPage: page,
              totalItems: totalLength
            }
    "
  >
    <div
      class="
        flex flex-col
        items-center
        justify-center
        bg-white
        p-4
        shadow
        rounded-lg
      "
    >
      <div
        class="
          inline-flex
          shadow-lg
          border border-gray-200
          rounded-full
          overflow-hidden
          h-40
          w-40
        "
      >
        <img
          src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&w=128&h=128&q=60&facepad=2"
          alt=""
          class="h-full w-full"
        />
      </div>

      <h2 class="mt-4 font-bold text-xl">
        {{ u.firstName + " " + u.lastName }}
      </h2>
      <h6 class="mt-2 text-sm font-medium">{{ u.email }}</h6>

      <p class="text-xs text-gray-500 text-center mt-3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab enim
        molestiae nulla.
      </p>

      <ul class="flex flex-row mt-4 space-x-2">
        <li>
          <a
            href=""
            class="
              flex
              items-center
              justify-center
              h-8
              w-8
              border
              rounded-full
              text-gray-800
              border-gray-800
            "
          >
            <i class="fab fa-facebook"></i>
          </a>
        </li>
        <li>
          <a
            href=""
            class="
              flex
              items-center
              justify-center
              h-8
              w-8
              border
              rounded-full
              text-gray-800
              border-gray-800
            "
          >
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a
            href=""
            class="
              flex
              items-center
              justify-center
              h-8
              w-8
              border
              rounded-full
              text-gray-800
              border-gray-800
            "
          >
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>
      <button
        type="button"
        class="
          border border-red-500
          text-red-500
          rounded-md
          px-4
          py-2
          m-2
          transition
          duration-500
          ease
          select-none
          hover:text-white hover:bg-red-600
          focus:outline-none focus:shadow-outline
        "
        (click)="getUserProjectAnCdDelete(u.id)"
      >
        Xóa
      </button>
    </div>
  </div>
  <pagination-controls (pageChange)="page = $event"></pagination-controls> -->
  <div class="-mx-4 sm:-mx-8 px-4 sm:px-8 py-4 overflow-x-auto">
    <div class="inline-block min-w-full overflow-hidden">
      <table class="min-w-full leading-normal">
        <thead>
          <tr>
            <th
              scope="col"
              class="
                px-5
                py-3
                bg-white
                border-b border-gray-200
                text-gray-800 text-left text-sm
                uppercase
                font-normal
              "
            >
              User
            </th>
            <th
              scope="col"
              class="
                px-5
                py-3
                bg-white
                border-b border-gray-200
                text-gray-800 text-left text-sm
                uppercase
                font-normal
              "
            >
              Name
            </th>
            <th
              scope="col"
              class="
                px-5
                py-3
                bg-white
                border-b border-gray-200
                text-gray-800 text-left text-sm
                uppercase
                font-normal
              "
            >
              Email
            </th>
            <th
              scope="col"
              class="
                px-5
                py-3
                bg-white
                border-b border-gray-200
                text-gray-800 text-left text-sm
                uppercase
                font-normal
              "
            >
              Action
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let m of userProject
                | paginate
                  : {
                      itemsPerPage: 5,
                      currentPage: page,
                      totalItems: totalLength
                    }
            "
          >
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
              <div class="flex items-center">
                <div class="flex-shrink-0">
                  <a href="#" class="block relative">
                    <img
                      alt="profil"
                      src="assets/img/cat.jpg"
                      class="mx-auto object-cover rounded-full h-10 w-10"
                    />
                  </a>
                </div>
                <div class="ml-3">
                  <p class="text-gray-900 whitespace-no-wrap">
                    {{ m.username }}
                  </p>
                </div>
              </div>
            </td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
              <p class="text-gray-900 whitespace-no-wrap">
                {{ m.lastName + m.firstName }}
              </p>
            </td>
            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
              <p class="text-gray-900 whitespace-no-wrap">
                {{ m.email }}
              </p>
            </td>

            <td class="px-5 py-5 border-b border-gray-200 bg-white text-sm">
              <div class="flex item-center">
                <a
                  class="
                    w-4
                    mr-2
                    transform
                    hover:text-purple-500 hover:scale-110
                  "
                  (click)="getUserProjectAnCdDelete(m)"
                >
                  <svg
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                  >
                    <path
                      stroke-linecap="round"
                      stroke-linejoin="round"
                      stroke-width="2"
                      d="M19 7l-.867 12.142A2 2 0 0116.138 21H7.862a2 2 0 01-1.995-1.858L5 7m5 4v6m4-6v6m1-10V4a1 1 0 00-1-1h-4a1 1 0 00-1 1v3M4 7h16"
                    />
                  </svg>
                </a>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <pagination-controls (pageChange)="page = $event"></pagination-controls>
  </div>
</div>
