<div
  class="
    container
    flex flex-col
    mx-auto
    w-full
    items-center
    justify-center
    bg-gray-100
  "
>
  <div
    class="
      px-4
      py-5
      sm:px-6
      w-full
      border
      dark:bg-gray-800
      bg-white
      shadow
      mb-2
    "
  >
    <h3 class="text-lg leading-6 font-bold text-gray-900 dark:text-white">
      Thành viên trong dự án: {{ userProject.length }}
    </h3>

    <!-- modal -->
    <ng-container
      *ngIf="isClick; then thenTemplate; else elseTemplate"
    ></ng-container>
    <ng-template #thenTemplate>
      <div>
        <form class="m-4 flex">
          <input
            class="
              rounded-l-lg
              p-4
              border-t
              mr-0
              border-b border-l
              text-gray-800
              border-gray-200
              bg-white
            "
            placeholder="Nhập username"
            #username
          />
          <button
            type="button"
            class="
              px-8
              rounded-r-lg
              bg-yellow-400
              text-gray-800
              font-bold
              p-4
              uppercase
              border-yellow-500 border-t border-b border-r
            "
            (click)="addUser()"
          >
            Thêm
          </button>
        </form>
      </div>
    </ng-template>
    <ng-template #elseTemplate>
      <button
        class="
          bg-gray-200
          text-gray-800
          font-bold
          rounded
          border-b-2 border-green-500
          hover:border-green-600 hover:bg-green-500 hover:text-white
          shadow-md
          py-2
          px-6
          inline-flex
          items-center
        "
        mat-button
        (click)="openDialog()"
      >
        Thêm thành viên
      </button>
    </ng-template>

    <ng-container
      *ngIf="isClickTransfer; then thenTemplateT; else elseTemplateT"
    ></ng-container>
    <ng-template #thenTemplateT>
      <div class="inline-block relative w-64 ml-5">
        <select
          class="
            block
            appearance-none
            w-full
            bg-white
            border border-gray-400
            hover:border-gray-500
            px-4
            py-2
            pr-8
            rounded
            shadow
            leading-tight
            focus:outline-none focus:shadow-outline
          "
          #userTranfer
          (change)="onClickTransfer($event.target)"
        >
          <option>Chọn nhân viên điều chuyển</option>
          <option *ngFor="let u of userProject" value="{{ u | json }}">
            {{ u.username }}
          </option>
        </select>
        <div
          class="
            pointer-events-none
            absolute
            inset-y-0
            right-0
            flex
            items-center
            px-2
            text-gray-700
          "
        ></div>
      </div>

      <div class="inline-block relative w-64 ml-5">
        <select
          class="
            block
            appearance-none
            w-full
            bg-white
            border border-gray-400
            hover:border-gray-500
            px-4
            py-2
            pr-8
            rounded
            shadow
            leading-tight
            focus:outline-none focus:shadow-outline
          "
          #idProjectTransfer
        >
          <option>Chọn Project điều chuyển đến</option>
          <option *ngFor="let lt of listTransfer" value="{{ lt.id }}">
            {{ lt.name }}
          </option>
        </select>
        <div
          class="
            pointer-events-none
            absolute
            inset-y-0
            right-0
            flex
            items-center
            px-2
            text-gray-700
          "
        ></div>
      </div>
      <button
        class="
          bg-blue-500
          hover:bg-blue-700
          text-white
          font-bold
          py-2
          px-4
          border border-blue-700
          rounded
          ml-5
        "
        (click)="getUserTransfer()"
      >
        Xác nhận
      </button>
    </ng-template>

    <ng-template #elseTemplateT>
      <button
        class="
          bg-gray-200
          text-gray-800
          font-bold
          rounded
          border-b-2 border-green-500
          hover:border-green-600 hover:bg-green-500 hover:text-white
          shadow-md
          py-2
          px-6
          inline-flex
          items-center
          ml-5
        "
        mat-button
        (click)="getListTransferProject()"
      >
        Điều chuyển thành viên
      </button>
    </ng-template>

    <!-- /modal -->
  </div>
  <div
    class="
      grid grid-cols-2
      sm:grid-cols-2
      md:grid-cols-3
      xl:grid-cols-4
      gap-10
      py-10
    "
    *ngFor="
      let u of userProject
        | paginate
          : {
              itemsPerPage: 4,
              currentPage: page,
              totalItems: totalLength
            }
    "
  >
    <div
      class="
        flex flex-col
        items-center
        justify-center
        bg-white
        p-4
        shadow
        rounded-lg
      "
    >
      <div
        class="
          inline-flex
          shadow-lg
          border border-gray-200
          rounded-full
          overflow-hidden
          h-40
          w-40
        "
      >
        <img
          src="https://images.unsplash.com/photo-1494790108377-be9c29b29330?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&w=128&h=128&q=60&facepad=2"
          alt=""
          class="h-full w-full"
        />
      </div>

      <h2 class="mt-4 font-bold text-xl">
        {{ u.firstName + " " + u.lastName }}
      </h2>
      <h6 class="mt-2 text-sm font-medium">{{ u.email }}</h6>

      <p class="text-xs text-gray-500 text-center mt-3">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab enim
        molestiae nulla.
      </p>

      <ul class="flex flex-row mt-4 space-x-2">
        <li>
          <a
            href=""
            class="
              flex
              items-center
              justify-center
              h-8
              w-8
              border
              rounded-full
              text-gray-800
              border-gray-800
            "
          >
            <i class="fab fa-facebook"></i>
          </a>
        </li>
        <li>
          <a
            href=""
            class="
              flex
              items-center
              justify-center
              h-8
              w-8
              border
              rounded-full
              text-gray-800
              border-gray-800
            "
          >
            <i class="fab fa-twitter"></i>
          </a>
        </li>
        <li>
          <a
            href=""
            class="
              flex
              items-center
              justify-center
              h-8
              w-8
              border
              rounded-full
              text-gray-800
              border-gray-800
            "
          >
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>
      <button
        type="button"
        class="
          border border-red-500
          text-red-500
          rounded-md
          px-4
          py-2
          m-2
          transition
          duration-500
          ease
          select-none
          hover:text-white hover:bg-red-600
          focus:outline-none focus:shadow-outline
        "
        (click)="getUserProjectAnCdDelete(u.id)"
      >
        Xóa
      </button>
    </div>
  </div>
  <pagination-controls (pageChange)="page = $event"></pagination-controls>
</div>
